* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: maru;
    src: url('CrimsonText-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: sankaku;
    src: url('CrimsonText-Regular.ttf') format('truetype');
}



body {
    color: white;
    background-image: url(../img/watercolor_00395.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    font-family: "Noto Sans JP";
}

body a {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
}

body a:visited {
    color: #FFF;
}

body a:hover {
    opacity: .7;
    transition: all 0.2s;
}


/*
.cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(top2.png);
}*/


header {
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 3%;
    transition: .3s;
}


header.scroll {
    background: rgba(0, 0, 0, .9);
    padding: 15px 3%;
    z-index: 99;
}


.keyvisual {
    width: 100%;
    height: 100vh;
    background: url(../img/top.png) no-repeat center center;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 1
}

.header-menu {
    width: 100%;
    /*    height: 80px;*/
    /*
    position: fixed;
    top: 0;
    left: 0;
*/
    /*    background-color: rgba(0, 0, 0, 0.8);*/
    /*    background-color: #000;*/
}

.header-menu ul {
    list-style-type: none;
    /*    display: grid;*/
    /*    grid-template-columns: repeat(12, 1fr);*/
    display: flex;
    justify-content: space-around;
    /*    margin: 0 5%;*/
}

.header-menu li {
    text-align: center;
    line-height: 80px;
    /*    font-family: maru;*/
}

.header-menu li a {
    /*    font-family: maru;*/
}


.header-menu a {
    position: relative;
    /*    display: inline-block;*/
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.header-menu a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.header-menu a:hover::after {
    transform: scale(1, 1);
}


.logo img {
    height: 75px;
}





.gridarea {
    position: sticky;
    top: 0;
    z-index: 2;
    background-image: url(../img/watercolor_00395.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}



main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-column-gap: 5%;
    grid-row-gap: 2%;
    font-size: 1.2rem;

}

h2 {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    font-family: maru;
    font-size: 2.7rem;
}

h2.n {
    grid-column-start: 1;
    grid-column-end: 5;
}

.news {
    /*    width: 2fr;*/
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1/3;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2% 0 4% 0;
    margin-top: 10%;
}


.news dl {
    padding: 1rem;
    border-bottom: 1px white dashed;
    font-size: 1.5rem;
}

.news dl::after {
    content: "";
    display: block;
    clear: both;
}

.news dt {
    margin-right: 3rem;
    float: left;
}

.news dd {
    /*    text-align: center;*/
}

h2.r {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 3%;
}


.releace-box {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    /*    grid-column-gap: 2%;*/
    grid-row-gap: %;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2%;
}



.releace {
    grid-column: 1/2;
}

/*.releace img*/


.releace-text {
    grid-column: 2/3;
    /*    background-color: rgba(0, 0, 0, 0.6);*/
}

.releace-text h3 {
    text-align: center;
    font-size: 1.5rem;
}

.releace-text p {
    text-align: center;
    font-size: 1.5rem;
}

.l {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    margin-bottom: 3%;

}

.live {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2% 0 4% 0;
    margin-top: 3%;
}

.live dl {
    padding: 1rem;
    border-bottom: 1px white dashed;

}

.live .first {
    border-top: 1px white dashed;
}


.next {
    grid-column: 5/7;
    grid-row: 1;
    margin-top: 10%;
    padding: 2% 0 4% 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.next dl {
    padding: 1rem;
    border: 1px white dashed;
    font-size: 1.5rem;
    text-align: center;

}


.tweet {
    grid-column: 5/7;
    grid-row: 2/4;
    height: 500px;
    overflow: scroll;

}






footer {
    margin: 5% auto;
    padding-top: 10%;
}

.footer-logo {
    width: 30%;
    margin: 0 auto;
}

.footer-logo img {
    /*    width: 30%;*/
}

.footer-icon ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2rem;
}

.footer-icon li {
    margin: 0 2%;
}

.info {
    line-height: 1;
    text-align: center;
}


.menu-btn {
    display: none;
}

@charset "UTF-8";

/* 画面サイズ768px未満 */


@media screen and (max-width: 768px) {
    * {
        padding: 0px;
        margin: 0px;
    }

    header {
        margin: 0;
        padding: 0;
    }

    header .nav {
        background-color: rgba(0, 0, 0, .8);

    }

    header #menu li a {
        color: #fff;
        /*        font-size: 1.5rem;*/

    }


    header #menu li a:hover {
        color: #000;
    }

    header #menu dt:hover {
        color: #000;
    }

    .nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 102;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*
        transform-origin: top left;
        transform: rotateZ(-90deg);
        transition: all .3s ease;
        */

        transform: translateX(100vw);
        transition: all .3s linear;

    }

    /*
    .nav.logo img{
        width: 
    }
*/

    .header-menu.is-active {
        transform: translateX(-98vw);
        /*        transform: rotateZ(0deg);*/
        /*        background: rgba(102, 102, 106, 0.8);*/
    }

    .menu-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 102;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #333;
        color: #fff;
    }

    #nav {
        display: none;
    }

    header.scroll {
        /*        background: rgba(0, 0, 0, .9);*/
        padding: 0;
        z-index: 102;
    }



    /*    めにゅー*/
    /*
    .news{
        grid-column: 1/7;
    }
*/

    .keyvisual {
        width: 100vw;
        height: 50vh;
        background: url(../img/top.png) no-repeat center center;
        background-size: cover;
        position: sticky;
        top: 0;
        z-index: 1;

    }


    main {
        padding-bottom: 20rem;
        width: 100%;
        font-size: 0.8rem
    }

    main > .news,
    .releace-box,
    .live {
        grid-column: 1/7;
        /*        grid-row: auto;*/
    }


    .news dl {
        padding: 1rem;
        border-bottom: 1px white dashed;
        font-size: 0.8rem;
    }

    .news dt {
        margin-right: 1rem;
        float: left;
    }

    .releace {
        grid-column: 1/7;
        margin: 0 auto;
    }

    /*.releace img*/


    .releace-text {
        grid-column: 1/7;
        padding-top: 2rem;
        /*    background-color: rgba(0, 0, 0, 0.6);*/
    }

    .live dd {
        padding-top: 0.5rem;
    }

    .next {
        /*        display: none;*/
        grid-column: 1/7;
        grid-row: auto;
    }

    .tweet {
        /*        display: none;*/
        grid-column: 1/7;
        grid-row: auto;
        width: 80%;
        margin: 0 auto;
    }


    .footer-logo {
        width: 70%;
        margin: 0 auto;
    }
